body {
  background-color: #1e1e27;
  color: white;
  font-family: IBM Plex Sans,arial,sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
}
