body {
  background-color: #1e1e27;
  color: white;
  font-family: IBM Plex Sans,arial,sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-button-title{
  text-align: center;
}

.app-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.app-button-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

.app-button {
  border-radius: 10px;
  border: none;
  width: 100px;
}

.app-button-long {
  background-color: green;
  margin-bottom: 10px;
  height: 40px;
}

.app-button-short {
  background-color: red;
  margin-bottom: 10px;
  height: 40px;
}

.app-button-cancel {
  height: 25px;
}